@import "tailwindcss";

:root {
  --primary: #FF5F3F;
  --primary-light: #F4EBEB;
  --dark: #111111;
  --dark-alternate: #1B1918;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
}

html {
  overflow-x: hidden;
}

* {
  @apply font-poppins;
}